body {
  font-family: poppins, sans-serif;
  margin: 0;
}

/* Container Title & Description */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-title {
  margin-bottom: 15px;
}

.container h1 {
  text-align: center;
}

/* Container List */
.container-info ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  width: 100%;
}

.container-info li {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  width: 100%;
}

/* Aligning the summary and h4 */
.container-info summary,
.container-info h4 {
  flex: 1; 
  text-align: left;
  margin: 0 0px;
}

/* Vertical Line */
.line {
  width: 1px; 
  height: 70px; 
  background-color: black; 
  margin-right: 20px;
  position: relative; 
}

/* Dot as a span */
.dot {
  display: block; 
  width: 10px; 
  height: 10px;
  background: #000000;
  border-radius: 50%;
  position: absolute; 
  top: 100%; 
  left: 50%;
  transform: translate(-50%, 0); 
}

/* Button */
button {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border: none; 
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
